<!DOCTYPE html>
<html>
<head>
  <title>DATA FEEDS</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "jquery.countdown", "data-turbolinks-track" => true %>
</head>
<body>

<div class='container-fluid'>

<%= yield %>

</div>

</body>
</html>
